.button {
    padding: 10px 15px;
  /*  background: var(--tg-theme-button-color);*/
    background: #D8FF51;
    color: var(--tg-theme-button-text-color);
    border: none;
    outline: none;
    cursor: pointer;
}
